$gray--100: #eaeaeb;
$gray--300: #464646;
$purple--100: #a050be;
$yellow: #fade50;

$img-width: 45%;

$directions: top, bottom, left, right;
$layout-margin-size: 0.625rem;

$half-width: 50%;
$full-width: 100%;

$nParagrafo: 1;
